.main-container {
    text-align: center;
}

.new-thread {
    position: relative;
    left: -170px;
}

.threads {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}