.container {
  display: flex;
}

.main-container {
  width: 600;
}

.thread-name {
  position: relative;
  left: -100px;
}

.card {
  margin: 10px auto;
  border: none;
  border-radius: 0px;
}

h1 {
  padding: 20px 60px;
  overflow-wrap: break-word;
}