.create-new-thread {
  width: 300px;
  margin: 50px auto;
}

p {
  font-size: 1.5em;
  font-weight: 550;
}

.thread-title {
  width: 300px;
  padding: 15px 0px;
  margin: 40px auto;
  font-size: 1.25em;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
}

.form-bottom, Link {
  margin: 0px 0px 0px 15px;
}

button {
  font-size: 1.25em;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  background-color: #4bdf89;
  color: white;
}

button:hover {
  background-color: blue;
}