.App-header {
  background-color: #4bdf89;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header {
  padding: 0px 30px;
}

.App-link {
  color: #61dafb;
}